#!/usr/bin/make -f

export DH_VERBOSE=1

DEB_AUTO_UPDATE_LIBTOOL=pre 
DEB_AUTO_UPDATE_ACLOCAL=1.11 
DEB_AUTO_UPDATE_AUTOCONF=1 
DEB_AUTO_UPDATE_AUTOHEADER=1
DEB_AUTO_UPDATE_AUTOMAKE=1.11
DEB_AUTO_UPDATE_AUTOMAKE = 1.11 --add-missing

%:
	dh $@ --with autoreconf
